/* Navigation icon padding */
.nav-icon-1 {
  padding-right: 1px;
}

.nav-icon-2 {
  padding-right: 2px;
}

.nav-icon-3 {
  padding-right: 3px;
}

.nav-icon-4 {
  padding-right: 4px;
}

.nav-icon-5 {
  padding-right: 5px;
}

.nav-icon-6 {
  padding-right: 6px;
}

.nav-icon-7 {
  padding-right: 7px;
}

.nav-icon-8 {
  padding-right: 8px;
}

.nav-icon-9 {
  padding-right: 9px;
}

.nav-icon-10 {
  padding-right: 10px;
}

.nav-icon-11 {
  padding-right: 11px;
}

.nav-icon-12 {
  padding-right: 12px;
}

.nav-icon-13 {
  padding-right: 13px;
}

.nav-icon-14 {
  padding-right: 14px;
}

.nav-icon-15 {
  padding-right: 15px;
}

.nav-icon-17 {
  padding-right: 17px;
}

/* Master.css */

.fa-linkedin-in {
	display: none!important;
}

p, span, li{
		line-height: 20px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 102px;
}


.inline-icon {
	margin-right: 8px;
}

.nav-icon {
	margin-right: 5px;
}

.breadcrumb {
	background: transparent!important;
}

/* Index.css */

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
border: 0 !important;
}

.navbar-item.is-mega {
  position: static;
}

.is-mega-menu-title {
  margin-bottom: 0;
  padding: 0.375rem 1rem;
}

.push-down {
  margin-top: 5px;
}

.translation {
  color: #0d0314;
  background-color: #eeeeee;
  width: 100%;
  padding: 10px;
  margin: 5px;
}

.menu-link:hover {
  color: #8a3ab9;
}

.menu-link {
  color: #209cee !important;
}

.my-blue {
  color: #209cee !important;
}

.my-blue:hover {
  text-decoration: none;
  color: #00d8ff !important;
}

.my-blue-on-hover:hover {
  color: #209cee !important;
}

.support-text {
  color: grey;
}

.facebook-blue {
  color: #3b5998 !important;
}

.blink {
  animation-duration: 4000ms;
  animation-name: blink;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes blink {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  animation-fill-mode: both;
  animation: load7 1.8s infinite ease-in-out;
}
.loader {
  color: #ffffff;
  font-size: 10px;
  margin: 80px auto;
  position: relative;
  text-indent: -9999em;
  transform: translateZ(0);
  animation-delay: -0.16s;
}

.loader:before,
.loader:after {
  content: "";
  position: absolute;
  top: 0;
}

.loader:before {
  left: -3.5em;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}

@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}

.midnight-blue {
	color: #003366;
}

/* https://www.w3schools.com/howto/howto_css_zoom_hover.asp */
.zoom {
  padding: 50px;
  background-color: green;
  transition: transform .2s; /* Animation */
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

.zoom:hover {
  transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

/* MAKE YOUTUBE VIDEOS RESPONSIVE - https://avexdesigns.com/responsive-youtube-embed/  */
.video-container {
position: relative;
padding-bottom: 56.25%;
padding-top: 30px; height: 0; overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}


@media (max-width: 767px) {
    .text-sm-center {
        text-align: center!important;
    }
}

/* 6fb9f5 is a very nice color */

.remove-btn {
	padding: 0px!important;
	border: none!important;
	background: none!important;
}



.spin {
  -webkit-animation: spin 4s infinite linear;
}

@-webkit-keyframes spin {
  0%  {-webkit-transform: rotate(0deg);}
  100% {-webkit-transform: rotate(360deg);}
}
.fa-certificate {
  -webkit-animation: spin 4s infinite linear;
}


footer {
	color: #c9c9c9 !important;
}

footer a {
	color: #c9c9c9 !important;
}

footer a:hover {
	color: white !important;
}

.u-navbar {
  border-bottom: 1px solid #BBBBBB;
}

.u-nav-link {
  text-decoration: none;
  padding: 10px 0px;
  margin: 0px 10px;
  display: inline-block;
  position: relative;
  opacity: 0.75;
}

.u-nav-link:hover {
  opacity: 1;
}

.u-nav-link::before {
  transition: 300ms;
  height: 5px;
  content: "";
  position: absolute;
  background-color: #031D44;
}

.u-nav-link-ltr::before {
  width: 0%;
  bottom: 10px;
}

.u-nav-link-ltr:hover::before {
  width: 100%;
}

.u-nav-link-fade-up::before {
  width: 100%;
  bottom: 5px;
  opacity: 0;
}

.u-nav-link-fade-up:hover::before {
  bottom: 10px;
  opacity: 1;
}

.u-nav-link-grow-up::before {
  height: 0%;
  width: 100%;
  bottom: 0px;
}

.u-nav-link-grow-up:hover::before {
  height: 5px;
}

.is-mobile-only {
  visibility: hidden!important;
}

@media screen and (max-width: 600px) and (max-width: 840px) {
   .white-on-small {
     color: white!important;
   }

   .is-mobile-only {
     visibility: visible!important;
     padding-left: 5px;
   }

   main {
     padding-left: 15px!important;
   }
 }

 footer li {
   line-height: 25px!important;
 }

 .field {
   padding: 5px 0px;
 }
